@model IEnumerable<Zotik.Models.Pad>

<div class="container-fluid">
    <!-- Products -->
    <hr>
    <main>
        <h1 class="center">Продукти</h1>
        <hr>
        <br />
        <div class="row center-block">
            @{
                    var pads = Model.OrderBy(p => p.Type).ThenBy(p => p.Type).ToList();

                    foreach (Pad pad in pads)
                    {
                        var imgSource = Url.Content("~/images//products/" + pad.ImageName);

            <div class="col-sm-4 col-md-3 col-xs-12 text-center">
                <div class="product-title">
                    <a href="@Url.Action("Details", "Products", new { id = pad.Id })">
                        <h4>@pad.Name</h4>
                    </a>

                </div>
                <a href="@Url.Action("Details", "Products", new { id = pad.Id })">
                    <img src="@imgSource"
                         class="img-thumbnail img-responsive"
                         alt="Дамски Превръзки Дневни Памук 10 броя" />
                </a>
                <p>@pad.Description</p>
            </div>
                }
            }
        </div>
    </main>
</div>
<hr>